.category__img{
    filter: invert(64%) sepia(65%) saturate(1327%) hue-rotate(348deg) brightness(103%) contrast(99%);
}
@media screen and (max-width:768px) {
    .category__img{
        width: 35px;
        height: 35px;
    }
}