@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

body{
    background-color: #F1F8FF;
}

h1{
    font-family: "Pacifico",sans-serif;
}

.section-title{
    position: relative;
    display: inline-block;
}
.section-title::before,
.section-title::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    background-color: #FEA116;
}
.section-title::before{
    right: 50px;
}
.section-title::after{
    left: 50px;
}



/* custom font classes */
.ff-primary{
    font-family: "Pacifico",sans-serif;
}
.ff-second{
    font-family: "Nunito", sans-serif;
}

/* custom text colors */
.text-primary{
    color: #FEA116;
}


